# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
bin/
build/
package/
*.zip

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

download_models.sh
build.sh

venv/